# 1. The HelloWorld replacement
    a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number
    and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".
    b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [1]:
#1.a

for i in range(1, 101): #range to define number from 1 to 100
    #declaring the condition
    if i%15 == 0: ##modulus 15 (3*5) to display numbers that are multiplied by both 3 and 5
        print("HelloWorld"); #replacing the numbers with Hello World
    elif i%3 == 0: #modulus 3 to display numbers that are multiplied by 3
        print("Hello"); #replacing the numbers with Hello
    elif i%5 == 0:#modulus 5 to display numbers that are multiplied by 5
        print("World"); #replacing the numbers with World
    else:
        print(i); #others, printing the number

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World

In [2]:
#1.b

#to produce result in tuple
list1 = [];
for i in range(1, 101):
    if i%15 == 0:
        list1.append("HelloWorld");
        tup1=tuple(list1);
    elif i%3 == 0:
        list1.append("Hello");
        tup1=tuple(list1);
    elif i%5 == 0:
        list1.append("World");
        tup1=tuple(list1);
    else:
        list1.append(i);
        tup1=tuple(list1);
print(tup1);
print("\n");

#defining the tuple result to list then converting it to tuple
tup_list = list(list1);
for element in tup_list: #looping for each element in tup_list
    if  element == "Hello":
        tup_list[tup_list.index(element)] = "Python";
    if  element == "World":
        tup_list[tup_list.index(element)] = "Works";   
    if  element == "HelloWorld":
        tup_list[tup_list.index(element)] = "PythonWorks";
    new_tuple = tuple(tup_list) #new variable for changed tup_list
print(new_tuple);

(1, 2, 'Hello', 4, 'World', 'Hello', 7, 8, 'Hello', 'World', 11, 'Hello', 13, 14, 'HelloWorld', 16, 17, 'Hello', 19, 'World', 'Hello', 22, 23, 'Hello', 'World', 26, 'Hello', 28, 29, 'HelloWorld', 31, 32, 'Hello', 34, 'World', 'Hello', 37, 38, 'Hello', 'World', 41, 'Hello', 43, 44, 'HelloWorld', 46, 47, 'Hello', 49, 'World', 'Hello', 52, 53, 'Hello', 'World', 56, 'Hello', 58, 59, 'HelloWorld', 61, 62, 'Hello', 64, 'World', 'Hello', 67, 68, 'Hello', 'World', 71, 'Hello', 73, 74, 'HelloWorld', 76, 77, 'Hello', 79, 'World', 'Hello', 82, 83, 'Hello', 'World', 86, 'Hello', 88, 89, 'HelloWorld', 91, 92, 'Hello', 94, 'World', 'Hello', 97, 98, 'Hello', 'World')


(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'PythonWorks', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'PythonWorks', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'PythonWorks', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'PythonWorks', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'PythonWorks', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'PythonWorks', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

# 2. The swap function
        Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [3]:
#defining two data in string
input1 = str(input("Enter first string: "));
input2 = str(input("Enter second string: "));
print("Old data: ", input1, input2);

#storing both data to input1
input1 = input1 + input2;

#extracting new data of input2 from updated data in input1
input2 = input1[0 : (len(input1) - len(input2))]; #extracting the data using substring function (string[start:end]) from index 0 to length (input1 - input2)

#extracting new data of input1 from updated data in input2
input1 = input1[len(input2):]; #extracting data from index length (input2) until the end using substring fucntionthen storing it in input1

print("New Data: ", input1, input2);

Enter first string: hello
Enter second string: world
Old data:  hello world
New Data:  world hello

# 3. Computing the distance
    *Write a function that calculates and returns the euclidean distance between two points u and v,
    *Where u and v are both 2-tuples (x,y). For example, if u=(3,0) and v=(0,4),
    *The function should return 5

In [4]:
print("Enter the values, where u = (x1, y1) and v = (x2, y2): \n");

#input from user
x1 = int(input("Enter x1 : "));
x2 = int(input("Enter x2 : "));
y1 = int(input("Enter y1 : "));
y2 = int(input("Enter y2 : "));

#defining the input as tuples
u = [x1, y1];
v = [x2, y2];

#the formula is from Pythagorean distance/theorem to find Euclidean distance
#[0] and [1] show the index of the data/input
result = (( ((v[0] - u[0])**2) + ((v[1] - u[1])**2) )**0.5 ); 


print("Distance between u =", (x1,y1), "and v =", (x2,y2), "is ", result);

Enter the values, where u = (x1, y1) and v = (x2, y2):

Enter x1 : 3
Enter x2 : 0
Enter y1 : 0
Enter y2 : 4
Distance between u = (3, 0) and v = (0, 4) is  5.0

# 4. Counting letters
    *Write a program to calculate the number of times each character occurs in a given string s.
    *Ignore differences in capitalization
   
       s = "Write a program that prints the numbers from 1 to 100. \
       But for multiples of three print Hello instead of the number and for the multiples of five print World. \
       For numbers which are multiples of both three and five print HelloWorld."

In [5]:
s = "Write a program that prints the numbers from 1 to 100. \
   But for multiples of three print Hello instead of the number and for the multiples of five print World. \
   For numbers which are multiples of both three and five print HelloWorld."

char_freq = {}; #dict: key = character, value = times of occcurence

#changing each character as lowercase form
for x in s.lower():
    #dict.setdefault(key, default) is used to set the value to the key
    #key = key to be searched in the dict, default = default value for the key is None.
    #if the key is present, it returns to value. if the key is not found, it will return to 0
    char_freq.setdefault(x,0);
    char_freq[x] +=1; #when the character is found, then count it

for character, count in char_freq.items():#counting key-value pairs inside char_freq dict using iteration of .item()
    print("Frequency of ", character, "is", count);

Frequency of  w is 4
Frequency of  r is 19
Frequency of  i is 12
Frequency of  t is 19
Frequency of  e is 20
Frequency of    is 47
Frequency of  a is 7
Frequency of  p is 8
Frequency of  o is 15
Frequency of  g is 1
Frequency of  m is 8
Frequency of  h is 11
Frequency of  n is 10
Frequency of  s is 7
Frequency of  u is 7
Frequency of  b is 5
Frequency of  f is 10
Frequency of  1 is 2
Frequency of  0 is 2
Frequency of  . is 3
Frequency of  l is 12
Frequency of  d is 5
Frequency of  v is 2
Frequency of  c is 1

# 5. Isolating the unique
    *Write a function that determines and count the unique numbers in the list
    *Do the same without using user-defined functions, but exploiting only the Python data structures.

In [6]:
#list
l1 = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

#empty list
l2 = [];
count = 0;

for i in l1:
    #if the unique value doesn't appear in the list, then increasing the value of count by 1 and appending it (the value) to empty list
    #if the unique value appears in the list, then no need to increase the count value and no need to append it to the empty list
    if i not in l2:
        count = count+1;
        l2.append(i)

print("List of numbers: ", l1);
print("\nUnique numbers: ", l2);
print("\nTotal unique numbers: ", count);

List of numbers:  [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91, 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41, 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

Unique numbers:  [36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]

Total unique numbers:  54

# 6. Combination of functions
    *Write two functions - one that returns the square of a number, and one that returns the cube.
    *Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [7]:
#input number
numb = int(input("Input integer: "));

#function of square
square = numb**2

#function of cube
cube = numb*numb*numb

#function of 6th power
power_6th = square*cube

#printing result
print("Square of {0} is {1}".format(numb, square));
print("Cube of {0} is {1}".format(numb, cube));
print("6th power of {0} is {1}".format(numb, power_6th));

Input integer: 4
Square of 4 is 16
Cube of 4 is 64
6th power of 4 is 1024

# 7. Cubes
    Create a list of the cubes of x for x in [0, 10] using:
        a) a for loop
        b) a list comprehension

In [8]:
#7.a with Loop
cubes = [] #creating empty list of cubes, to store the cubes
for i in range(0,10): #looping in range(0, 10) calculating the cube of number
    cubes.append(i*3); #then the result is appended to the cubes list
print(cubes);

#7.b with list comprehension
my_list = [i for i in range(1,10)]
print(my_list);

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

# 8. Nested list comprehension
    *A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$.
    *The first Pythagorean triple is (3,4,5).
    *Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [9]:
mylist = [(a,b,c) for a in range(1,101) for b in range(1,101) for c in range(1,101)if a**2 + b**2 == c**2];

#empty list
mylist2 = [];
count = 0;

for i in mylist2:
    #if the unique value doesn't appear in the list, then increasing the value of count by 1 and appending it (the value) to empty list
    #if the unique value appears in the list, then no need to increase the count value and no need to append it to the empty list
    if i not in mylist2:
        count = count+1;
        mylist2.append(i)

print("List of Pythagorean triples: ",mylist);
print("\nUnique numbers: ", tuple(mylist2));

List of Pythagorean triples:  [(3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 15, 25), (20, 21, 29), (20, 48, 52), (21, 20, 29), (21, 28, 35), (21, 72, 75), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 21, 35), (28, 45, 53), (28, 96, 100), (30, 16, 34), (30, 40, 50), (30, 72, 78), (32, 24, 40), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 12, 37), (35, 84, 91), (36, 15, 39), (36, 27, 45), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 9, 41), (40, 30, 50), (40, 42, 58), (40, 75, 85), (42, 40, 58), (42, 56, 70), (44, 33, 55), (45, 24, 51), (45, 28, 53), (45, 60, 75), (48, 14, 50), (48, 20, 52), (48, 36, 60), (48, 55, 73), (48, 64, 80), (51, 68, 85), (52, 39, 65), (54, 72, 90), (55, 48, 73), (56, 33, 65), (56, 42, 70), (57, 76, 95), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (60, 63, 87), (60, 80, 100), (63, 16, 65), (63, 60, 87), (64, 48, 80), (65, 72, 97), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (80, 60, 100), (84, 13, 85), (84, 35, 91), (96, 28, 100)]

Unique numbers:  ()

# 9. Normalization
    Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [10]:
x = (1, 2, 3, 4, 5);

#formula of x_normalisation = (x - x_min) / (x_max)
x_norm = [ (float(i) - min(x)) / (max(x) - min(x)) for i in x];
print(x_norm);

[0.0, 0.25, 0.5, 0.75, 1.0]